.postagem-corpo {
    background-color: lightblue;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    width: 300px;
    margin: 8px auto;
    text-align: center;
}

.postagem-titulo {
    font-size: 1.5rem;
}

.imagem {
    padding: 8px;
    width: 150px;
}